<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @{
        ViewBag.title = "No Mentor - Building Resilience";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <!-- Font awesome -->
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="~/Content/slick.css">
    <!-- Fancybox slider -->
    <link rel="stylesheet" href="~/Content/jquery.fancybox.css" type="text/css" media="screen" />
    <!-- Theme color -->
    <link id="switcher" href="~/Content/default-theme.css" rel="stylesheet">

    <!-- Main style sheet -->
    <link href="~/Content/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/error-nomentormapped.css">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="nomentor-background">
        <div class="nomentor-ask">
            <div class="col-lg-10 col-md-10 col-sm-10">
                <h1>Oops! You Have Not Assigned A Mentor To Yourself</h1>
                <br />
                <h3>Please add a mentor and then create goals & tasks or diary entries.</h3>
            </div>
        </div>
        <button class="button1">
            @Html.ActionLink("Add a mentor", "ChooseMentor", "Users")
        </button>
        <button class="button2">
            @Html.ActionLink("Back to options", "Mentee", "Options")
        </button>
    </div>
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/choice.js"></script>
</body>
</html>

