<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @{
        ViewBag.title = "Child Abuse";
    }

    <!-- Font awesome -->
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="~/Content/slick.css">
    <!-- Fancybox slider -->
    <link rel="stylesheet" href="~/Content/jquery.fancybox.css" type="text/css" media="screen" />
    <!-- Theme color -->
    <link id="switcher" href="~/Content/default-theme.css" rel="stylesheet">

    <!-- Main style sheet -->
    <link href="~/Content/style.css" rel="stylesheet">


    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <a class="scrollToTop" href="#">
        <i class="fa fa-angle-up"></i>
    </a>

    <!-- Page breadcrumb -->
    <section id="mu-page-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-page-breadcrumb-area">
                        <h2>What is child abuse?</h2>
                        <ol class="breadcrumb">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li class="active">@Html.ActionLink("Child Abuse", "Abuse", "Challenges")</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End breadcrumb -->

    <section id="mu-course-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-course-content-area">
                        <div class="row">
                            <div class="col-md-9">
                                <!-- start course content container -->
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
                                                <div class="mu-latest-course-single-content">
                                                    <h2>Child Abuse</h2>
                                                    <p>Emotional abuse can be just as hurtful as physical abuse and the effects can last a lifetime.</p>
                                                    <p>This happens when a child is repeatedly feeling worthless, unloved, alone or scared. Emotional abuse is particularly damaging to a child’s self-esteem and emotional wellbeing.</p>
                                                    <p>Some parents could be abusing their child without even being aware of it!</p>
                                                    <p>According to recent studies about cases of children facing different types of abuse in each state, Victoria has the greatest rate of emotional abuse.</p>
                                                </div>
                                                <div>
                                                    <a href="https://plot.ly/~aram0010/26/?share_key=lhV9T3dJuW4co2kICmMbSk" target="_blank" title="Emotional abuse" style="display: block; text-align: center;"><img src="https://plot.ly/~aram0010/26.png?share_key=lhV9T3dJuW4co2kICmMbSk" alt="Emotional abuse" style="max-width: 100%;width: 600px;" width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
                                                    <script data-plotly="aram0010:26" sharekey-plotly="lhV9T3dJuW4co2kICmMbSk&autosize=true&modebar=false&link=false" src="https://plot.ly/embed.js" async></script>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery library -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.js"></script>
    <!-- Slick slider -->
    <script type="text/javascript" src="~/Scripts/slick.js"></script>
    <!-- Counter -->
    <script type="text/javascript" src="~/Scripts/waypoints.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.counterup.js"></script>
    <!-- Mixit slider -->
    <script type="text/javascript" src="~/Scripts/jquery.mixitup.js"></script>
    <!-- Add fancyBox -->
    <script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js"></script>


    <!-- Custom js -->
    <script src="~/Scripts/custom.js"></script>

</body>
</html>
