<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @{
        ViewBag.title = "Family Violence";
    }

    <!-- Font awesome -->
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="~/Content/slick.css">
    <!-- Fancybox slider -->
    <link rel="stylesheet" href="~/Content/jquery.fancybox.css" type="text/css" media="screen" />
    <!-- Theme color -->
    <link id="switcher" href="~/Content/default-theme.css" rel="stylesheet">

    <!-- Main style sheet -->
    <link href="~/Content/style.css" rel="stylesheet">


    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <a class="scrollToTop" href="#">
        <i class="fa fa-angle-up"></i>
    </a>

    <!-- Page breadcrumb -->
    <section id="mu-page-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-page-breadcrumb-area">
                        <h2>Family Violence?</h2>
                        <ol class="breadcrumb">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li class="active">@Html.ActionLink("Family Violence", "Violence", "Challenges")</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End breadcrumb -->

    <section id="mu-course-content">
        <div class="container">            
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-latest-course-single">
                        <div class="mu-latest-course-single-content">
                            <h2>What is Family Violence</h2>
                            <p>Children's exposure to domestic and family violence has become a prominent policy issue comparatively recently. Children who witness regular acts of violence have greater emotional and behavioural problems than other children.</p>
                            <p>Some of the immediate effects may include nightmares, anxiety, withdrawal and bedwetting.</p>
                            <p>This could be happening around you and your kids, the chart below shows how common it could be in your area.</p>                                                  
                        </div>
                        <div>
                            <a href="https://plot.ly/~aram0010/24/?share_key=ccFczXoqNnPQfh2QQCxpKM" target="_blank" title="Family violence" style="display: block; text-align: center;"><img src="https://plot.ly/~aram0010/24.png?share_key=ccFczXoqNnPQfh2QQCxpKM" alt="Family violence" style="max-width: 100%;width: 600px;" width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
                            <script data-plotly="aram0010:24" sharekey-plotly="ccFczXoqNnPQfh2QQCxpKM&autosize=true&modebar=false&link=false" src="https://plot.ly/embed.js" async></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </section>

    <!-- jQuery library -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.js"></script>
    <!-- Slick slider -->
    <script type="text/javascript" src="~/Scripts/slick.js"></script>
    <!-- Counter -->
    <script type="text/javascript" src="~/Scripts/waypoints.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.counterup.js"></script>
    <!-- Mixit slider -->
    <script type="text/javascript" src="~/Scripts/jquery.mixitup.js"></script>
    <!-- Add fancyBox -->
    <script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js"></script>


    <!-- Custom js -->
    <script src="~/Scripts/custom.js"></script>
</body>
</html>
