@model IEnumerable<Resilience.Models.DiaryEntries>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @{
        ViewBag.title = "View - Building Resilience";
    }

    <!-- Font awesome -->
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="~/Content/slick.css">
    <!-- Fancybox slider -->
    <link rel="stylesheet" href="~/Content/jquery.fancybox.css" type="text/css" media="screen" />
    <!-- Theme color -->
    <link id="switcher" href="~/Content/default-theme.css" rel="stylesheet">
    <!-- Highlighter function -->
    <link rel="stylesheet" href="~/Content/jquery.highlight-within-textarea.css" />
    <!-- Main style sheet -->
    <link href="~/Content/style.css" type="text/css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="~/Content/diaryentries-viewfeedback.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700' rel='stylesheet' type='text/css'>

    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
</head>
<body>
    <div class="view-diary-detail">

        @foreach (var item in Model)
        {
        <div class="col-md-offset-1 col-md-12">
            <hr />
            <hr />
            <hr />
            <h2>View diary</h2>

            <div class="col-md-offset-0 form-horizontal">

                <label class="control-label col-md-2">Diary</label>

                <div class="col-md-10">
                    <textarea id="entry" rows=15 cols=100 readonly="readonly">@item.Entry</textarea>

                </div>

                
            </div>
            
            <div class="col-md-offset-0 form-horizontal">

                <label class="control-label col-md-2">
                    <hr />
                    
                    Mood
                </label>
                
                <div class="col-md-10">
                    <hr />
                    
                    @if (item.MenteeFeedback == null || item.MenteeFeedback == 0)
                    {
                        <p style="margin-top:10px; margin-bottom:10px"><i>You didn't share it.</i></p>
                    }
                    else
                    {
                        <div id="rating" rate=@item.MenteeFeedback>
                        </div>
                    }
                </div>

            </div>



            <div class="col-md-offset-0 form-horizontal">

                <label class="control-label col-md-2">
                    <hr />
                    
                    Feedback
                </label>

                <div class="col-md-10">
                    <hr />
                    @if (item.MentorFeedback == null)
                    {

                        <i>Pending to review</i>
                    }
                    else
                    {

                        <textarea id="entry" rows=10 cols=100 readonly="readonly">@item.MentorFeedback</textarea>

                    }

                </div>
            </div>
        </div>
        }
    </div>

    <!-- jQuery library -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.js"></script>
    <!-- Slick slider -->
    <script type="text/javascript" src="~/Scripts/slick.js"></script>
    <!-- Counter -->
    <script type="text/javascript" src="~/Scripts/waypoints.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.counterup.js"></script>
    <!-- Mixit slider -->
    <script type="text/javascript" src="~/Scripts/jquery.mixitup.js"></script>
    <!-- Add fancyBox -->
    <script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js"></script>
    <script src="~/Scripts/jqueryd.min.js"></script>
    <!-- AM CHARTS-->
    <script type="text/javascript" src="~/Scripts/AMcharts/core.js"></script>
    <script type="text/javascript" src="~/Scripts/AMcharts/charts.js"></script>
    <script type="text/javascript" src="~/Scripts/AMcharts/animated.js"></script>
    <script type="text/javascript" src="~/Scripts/AMcharts/kelly.js"></script>
    <!-- HIGHLIGHTING TEXT-->
    <script type="text/javascript" src="~/Scripts/jquery.highlight-within-textarea.js"></script>
    <!-- Emoticon rating-->
    <script type="text/javascript" src="~/Scripts/emoticon_rating.js"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="~/Scripts/ViewFeedback_.js"></script>
    <script type="text/javascript" src="~/Scripts/custom.js"></script>
</body>
</html>

