@model IEnumerable<Resilience.Models.DiaryEntries>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @{
        ViewBag.title = "View - Road to Resilience";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <!-- Font awesome -->
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!-- Highlighter function -->
    <link rel="stylesheet" href="~/Content/jquery.highlight-within-textarea.css" />
    <!-- Main style sheet -->
    <link href="~/Content/style.css" type="text/css" rel="stylesheet" />

    <link href="~/Content/gaugediv.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="~/Content/diaryentries-view.css">
    <!-- Google Fonts -->
    <link href=~/Content/fontMontserrat.css rel='stylesheet' type='text/css'>
    <link href=~/Content/fontRoboto.css rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="view-diary-detail">
        
        @foreach (var item in Model)
        {
        <div class="col-md-offset-1 col-md-12">
            <h2>View diary</h2>
            <hr />
            <div class="col-md-offset-4 form-horizontal">

                <div class="gaugediv"></div>
                <i>Sentiment Meter: Overall Sentiment of the Diary</i>
            </div>
            <hr />
            <div class="col-md-offset-0 form-horizontal">

                <label class="control-label col-md-2">Diary</label>

                <div class="col-md-10">
                    <textarea id="entry" rows=15 cols=100 readonly="readonly">@item.Entry</textarea>

                </div>


            </div>

            <div class="col-md-offset-0 form-horizontal">
                <label class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <label class="switch"><input id="highlight" type="checkbox" checked><span class="slider round" /></label> Turn on Highlighting to view the most positive (Green) and most negative (Red) statement in the Diary, if they exist! 
                    <p style="margin:0px">If highlighting is not seen, there is no strong positive/negative statement in the diary.</p>
                </div>
            </div>
            

            <div class="col-md-offset-0 form-horizontal">
                <label class="control-label col-md-2">
                    <hr />
                    Mood
                </label>

                <div class="col-md-10">
                    <hr />
                    @if (item.MenteeFeedback == null)
                    {
                        <i>Your mentee did not share it.</i>
                    }
                    else
                    {
                        <div id="rating" rate=@item.MenteeFeedback>
                        </div>
                    }


                </div>
            </div>

            

            <div class="col-md-offset-0 form-horizontal">

                <label class="control-label col-md-2">
                    <hr />
                    Feedback
                </label>

                <div class="col-md-10">
                    <hr />
                    @if (item.MentorFeedback == null)
                    {

                        @Html.ActionLink("Give Feedback", "Feedback", new { id = item.Id }, new { @class = "btn btn-default", @style = "color:black" })

                    }
                    else
                    {

                        <textarea id="entry" rows=10 cols=100 readonly="readonly">@item.MentorFeedback</textarea>

                    }
                    <hr />
                </div>
            </div>
        </div>
        }
        </div>
 
        <script type="text/javascript">
            var sentiment = @Html.Raw(Json.Encode(Model.ElementAt(0).SentimentScore));
        </script>

        <!-- jQuery library -->
        <script src="~/Scripts/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/jqueryd.min.js"></script>
        <!-- AM CHARTS-->
        <script type="text/javascript" src="~/Scripts/AMcharts/core.js"></script>
        <script type="text/javascript" src="~/Scripts/AMcharts/charts.js"></script>
        <script type="text/javascript" src="~/Scripts/AMcharts/animated.js"></script>
        <script type="text/javascript" src="~/Scripts/AMcharts/kelly.js"></script>
        <!-- HIGHLIGHTING TEXT-->
        <script type="text/javascript" src="~/Scripts/jquery.highlight-within-textarea.js"></script>
        <!-- Emoticon rating-->
        <script type="text/javascript" src="~/Scripts/emoticon_rating.js"></script>
        <!-- Custom js -->
        <script type="text/javascript" src="~/Scripts/Additional_functions.js"></script>
        <script type="text/javascript" src="~/Scripts/DiaryEntryView.js"></script>
        <script type="text/javascript" src="~/Scripts/custom.js"></script>
</body>
</html>