html, body {
    height: 100%;
    width: 100%;
}

.login-register-page {
    position: static;
    height: 100%;
    width: 100%;
    background: url('../../Images/album-background-blank-1089842.jpg') no-repeat center;
    background-size: cover;
}

.login-register-form {
    position: absolute;
    left: 35%;
    top: 9%;
    background-color: transparent;
    width: 33%;
    height: 50%;
    padding: 3% 0 0;
    margin: auto;
    text-align: center;
}

.form-group {
    position: center;
    text-align: center;
}
