.main-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 240px));
    grid-auto-rows: 360px;
    /*grid-template-rows: repeat(auto-fit, minmax(20px, 200px));
    grid-auto-columns: 200px;*/
    grid-gap: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content:center;*/
    padding: 10px;
    background-color: antiquewhite/*#e3e4e6*/;
    -webkit-box-shadow: 4px 4px 15px -3px rgba(0,0,0,0.39);
    -moz-box-shadow: 4px 4px 15px -3px rgba(0,0,0,0.39);
    box-shadow: 4px 4px 15px -3px rgba(0,0,0,0.39);
    border-radius: 20px;
    border-style: outset;
    margin: 20px;
}

.card__title{
    font-weight:bold;
    font-size:large;
}

.card__content{
    text-align:left;
    width:100%;
    height:100%;
}

a.ptitle{
    font-weight:bold;
    margin-top:0px;
}

.pitem{
    margin-left:10px;
    margin-top:6px;
}

a.ptitle:link, a.ptitle:visited, .test:link, .test:visited {
    background-color: #A89B9D;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    border-radius: 5px;
    color: white;
    border: 2px #A89B9D solid;
}

a.ptitle:hover, a.ptitle:active {
    background-color: antiquewhite;
    border: 2px #A89B9D solid;
    border-radius: 5px;
    padding: 3px 5px;
    color: black;
    cursor: pointer;
}

.apending{
    font-style:italic;
}

a.apending:link, a.apending:visited {
    color: red;
}

a.apending:hover{
    text-decoration:underline;
}

.linkbox {
    background-color: #D8BFAA; /* #A89B9D;*/
    padding: 3px 5px;
    text-decoration: none;
    /*display: inline-block;*/
    border-radius: 5px;
    color: white;
    border: 2px #D8BFAA solid;
    /*-webkit-box-shadow: 4px 4px 15px -3px rgba(0,0,0,0.39);
    -moz-box-shadow: 4px 4px 15px -3px rgba(0,0,0,0.39);
    box-shadow: 4px 4px 15px -3px rgba(0,0,0,0.39);*/
}
    .linkbox:hover, .linkbox:active {
        background-color: antiquewhite;
        border: 2px #D8BFAA solid;
        border-radius: 5px;
        padding: 3px 5px;
        color: black;
        cursor: pointer;
    }

.ptitle {
    font-weight: bold;
    margin-top: 0px;
}

hr{
    margin:4px;
}