html, body {
    height: 100%;
    width: 100%;
}

.dashboard-list-mentee {
    position: static;
    min-height: 100%;
    height: auto;
    background: url('../../Images/atmosphere-background-bright-19670.jpg') center;
    background-repeat: repeat-y;
    text-align: center;
}
