html, body {
    height: 100%;
    width: 100%;
}

.mentee-background {
    position: static;
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}

.col-md-12 {
    position: absolute;
    top: 15%;
    text-align: center;
    color: black;    
}

.button1 {
    width: 20%;
    height: 30%;
    background-color: #3AB795;
    color: white;
    border: 0px solid white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 0px;
    position: absolute;
    top: 25%;
    left: 20%;
    font-size: 1.5vw;
}


    .button1:hover {
        background-color: black;
        color: black;
    }

.button2 {
    width: 20%;
    height: 30%;
    background-color: #7A28CB;
    color: white;
    border: 0px solid white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 0px;
    position: absolute;
    top: 25%;
    left: 40%;
    font-size: 1.5vw;
}


    .button2:hover {
        background-color: black;
        color: black;
    }

.button3 {
    width: 20%;
    height: 30%;
    background-color: #F0B67F;
    color: white;
    border: 0px solid white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 0px;
    position: absolute;
    top: 25%;
    left: 60%;
    font-size: 1.5vw;
}


    .button3:hover {
        background-color: black;
        color: black;
    }

.button4 {
    width: 20%;
    height: 30%;
    background-color: #CBDFBD;
    color: white;
    border: 0px solid white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 0px;
    position: absolute;
    top: 55%;
    left: 20%;
    font-size: 1.5vw;
}


    .button4:hover {
        background-color: black;
        color: black;
    }

.button5 {
    width: 20%;
    height: 30%;
    background-color: #73D2DE;
    color: white;
    border: 0px solid white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 0px;
    position: absolute;
    top: 55%;
    left: 40%;
    font-size: 1.5vw;
}


    .button5:hover {
        background-color: black;
        color: black;
    }

.button6 {
    width: 20%;
    height: 30%;
    background-color: #FE938C;
    color: white;
    border: 0px solid white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 0px;
    position: absolute;
    top: 55%;
    left: 60%;
    font-size: 1.5vw;
}


    .button6:hover {
        background-color: black;
        color: black;
    }
