html, body {
    height: 100%;
    width: 100%;
}

.mentor-background {
    position: static;
    height: 80%;
    width: 100%;
    background-color: antiquewhite;
}

.col-md-12 {
    position: absolute;
    top: 15%;
    text-align: center;
    color: black;
}

.button1 {
    width: 21%;
    height: 30%;
    background-color: #FE938C;
    color: white;
    border: 0px solid black;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 0px;
    position: absolute;
    top: 35%;
    left: 29%;
    font-size: 1.5vw;
}


    .button1:hover {
        background-color: black;
        color: black;
    }

.button2 {
    width: 20%;
    height: 30%;
    background-color: #73D2DE;
    color: white;
    border: 0px solid black;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 0px;
    position: absolute;
    top: 35%;
    left: 50%;
    font-size: 1.5vw;
}


    .button2:hover {
        background-color: black;
        color: black;
    }
