html, body {
    height: 100%;
    width: 100%;
}

.error-background {
    height: 100%;
    width: 100%;
    background: url('../../Images/anime-art-artistic-262272.jpg') no-repeat center;
    background-size: cover;
}

.error-ask {
    position: absolute;
    top: 30%;
    left: 30%;
    color: orangered;
}

.button1 {
    width: 20%;
    height: 10%;
    background-color: transparent;
    color: white;
    border: 2px solid black;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 12px;
    position: absolute;
    top: 60%;
    left: 30%;
    font-size: 1.5vw;
}


    .button1:hover {
        background-color: white;
        color: black;
    }
