<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @{
        ViewBag.title = "Building Resilience";
    }

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">

    <!-- Font awesome -->
    <link href="~/Content/all.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="~/Content/slick.css">
    <!-- Fancybox slider -->
    <link rel="stylesheet" href="~/Content/jquery.fancybox.css" type="text/css" media="screen" />
    <!-- Theme color -->
    <link id="switcher" href="~/Content/default-theme.css" rel="stylesheet">

    <!-- Highlight style -->
    <link rel="stylesheet" href="~/Content/jquery.highlight-within-textarea.css" />

    <!-- Main style sheet -->
    <link href="~/Content/style.css" rel="stylesheet">
    <!-- Main style sheet -->
    <link href="~/Content/HomeIndex.css" rel="stylesheet">

    <script>
        // Hide the body if is not validated yet.
        if ("@Session["validated"]" == "") {
            var bd = document.getElementsByTagName("BODY")[0];
            bd.hidden = true;
        };
    </script>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!--START SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- END SCROLL TOP BUTTON -->
    <!-- Start Slider -->
    <section id="mu-slider">
        <!-- Start single slider item -->
        <div class="mu-slider-single">
            <div class="mu-slider-img">
                <figure>
                    <img src="~/Images/Diary.jpg" alt="img">
                </figure>
            </div>
            <div class="mu-slider-content">
                <h2 class="animation">Road to Resilience</h2>
                <span></span>
                <p>Resilience means the capacity to recover quickly from difficulties. Being Resilient could mean the difference between handling pressure well or losing your cool</p>
                <div class="btn btn-default" id="start">Start now</div>
                <div class="btn btn-default" id="login">Log in</div>

                <a class="scrollDown" onclick="$.scrollTo('#mu-about-us', 800, { duration: 2000 });" href="#mu-about-us">
                    <i class="fa fa-angle-down"></i>
                </a>
            </div>
            
        </div>
        <!-- Start single slider item -->
    </section>
    <!-- End Slider -->
    <!-- End service  -->

    <section id="mu-about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div>
                        <h2><text class="fas fa-star fa-rotate-90"></text>WHAT WE OFFER?<text class="fas fa-star fa-rotate-270"></text></h2>
                    </div>
                    <table>
                        <tr>
                            <td>
                                <span id="whyRes" class="btn btn-lg popup-button"><img src="~/Images/info.png" height="100" width="100" /></span>
                                <p class="popup-name">About Resilience</p>
                                
                            </td>
                            <td>
                                <span id="howCanWeHelp" class="btn btn-lg popup-button"><img src="~/Images/question.png" height="100" width="100" /></span>
                                <p class="popup-name">Let's be Resilient</p>
                                
                            </td>
                            <td>
                                <span id="challenges" class="btn btn-lg popup-button"><img src="~/Images/trends icon.png" height="100" width="100" /></span>
                                <p class="popup-name">&nbsp &nbsp Trends</p>
                            </td>
                            <td>
                                <h2 class="fas fa-chart-area"> Graphs</h2>
                                <p>This below graph shows the employment rate in Victoria by region.</p>
                                <strong id="regionPlot" class="btn btn-sm btn-primary">Employment in Victoria (by region)</strong>
                                <p>This below graph shows the projected rate of employment in 2023.</p>
                                <strong id="industryPlot" class="btn btn-sm btn-primary">Employment Projection by 2023</strong>
                                <p>This below graph shows the unemployment trend in Victoria.</p>
                                <strong id="histEmpl" class="btn btn-sm btn-primary">Unemployment rate in Victoria</strong>
                            </td>
                        </tr>
                    </table>

                    <!--Why Resilience Pop-up  -->
                    <div id="whyresilience" class="modal">
                        <!-- Modal content -->
                        <div class="popup-content">
                            <div class="mu-title">
                                <h2>Why should you care about Resilience</h2>
                            </div>
                            <br />
                            <div class="col-lg-6 col-md-6">
                                <div>                                    
                                    <p>Resilience is very important for a person's mental health. <br />It's about learning from the process so we can be stronger and look forward to the next challenge </p>
                                    <p>By being resilient, a person can: </p>
                                    <ul>
                                        <li>Dream big</li>
                                        <li>Have the courage to fail and learn from it</li>
                                        <li>Inspire everyone and be optimistic</li>                                        
                                        <li>Be in harmony with others and nature</li>
                                        <li>Communicate their problems better</li>
                                    </ul>
                                    <p>For this purpose, we require someone who is willing to mentor us. </p>                                    
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div>
                                    <figure>
                                        <img src="~/Images/balance-cobblestone-conceptual.jpg" height="400" width="350" alt="img" />
                                    </figure>
                                </div>
                            </div>
                            <p style="text-align:center">[To close window, click outside the popup]</p>
                        </div>
                    </div>
                    <!--How can we help? Pop-up  -->
                    <div id="howcanwehelp" class="modal">
                        <!-- Modal content -->
                        <div class="popup-content">
                            <div class="mu-title">
                                <h2>How can we help?</h2>
                            </div>
                            <br />
                            <div class="col-lg-6 col-md-6">
                                <div>
                                    <p>It's amazing if we have someone who we can converse with regularly but what if they are overseas or your schedules don't mesh well?</p>
                                    <p>We are providing a platform for mentors and mentees to connect</p>
                                    <ul>
                                        <li>Mentees can set goals and tasks, write experiences and share them with their mentor</li>                                                                              
                                        <li>Mentors can keep track of their mentees and provide feedback</li>                                        
                                    </ul>
                                    <text style="font-weight:bold">KEY FEATURE: Sentiment Analysis for Mentors about their Mentee's mood</text>
                                    <hr />
                                    <p>For exploring further and accessing all features: </p>
                                    <p>@Html.Partial("_LoginPartial")</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="mu-about-us-right">
                                    <figure>
                                        <img src="~/Images/close-up-dry-leaves-environment.jpg" height="225" width="350" alt="img" />
                                        <img src="~/Images/Picture2.png" height="225" width="350" alt="img" />
                                    </figure>
                                </div>
                            </div>
                            <p style="text-align:center">[To close window, click outside the popup]</p>
                        </div>
                    </div>
                    <!--Challenges Pop-up  -->
                    <div id="challengesPopup" class="modal">
                        <!-- Modal content -->
                        <div class="popup-content">
                            <div class="mu-title">
                                <h2>Employment Trends</h2>
                            </div>
                            <br />
                            <div class="col-lg-6 col-md-6">
                                <div class="mu-about-us-left">
                                    <p>The graphs show the competition that is present in the industry and how unemployment is on a rising trend</p>
                                    <ul>
                                        <li>In the 1st graph, it can be seen that Employment rate in the Inner Region Melbourne is the highest in the Year 2018.</li>
                                        <li>In the 2nd graph, the Employment Projection by 2023 (by Industry). Health Care, by far, has the most projected scope in Employment</li>
                                        <li>In the 3rd graph, we can see that Unemployment rate has been gradually increasing over the years.</li>
                                    </ul>
                                    <p>These are just few reasons why you need to focus on upping your career and being ahead of the curve</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="mu-about-us-right">
                                    <figure>
                                        <img src="~/Images/Employment_Vic_2018.png" height="150" width="350" alt="img" />
                                        <img src="~/Images/Employment_proyection_2023.png" height="150" width="350" alt="img" />
                                        <img src="~/Images/Unemployment_rate.png" height="150" width="350" alt="img" />
                                    </figure>
                                </div>
                            </div>
                            <p style="text-align:center">[To close window, click outside the popup]</p>
                        </div>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div id="region_plot" class="divplot"></div>
                            <p style="text-align:center">[To close window, click outside the popup]</p>
                        </div>

                    </div>
                    <div id="myModal2" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div id="industry_plot" class="divplot"></div>
                            <p style="text-align:center">[To close window, click outside the popup]</p>
                        </div>
                    </div>
                    <div id="myModal3" class="modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div id="history_plot" class="divplot"></div>
                            <p style="text-align:center">[To close window, click outside the popup]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!-- jQuery library -->
        <script src="~/Scripts/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="~/Scripts/bootstrap.js"></script>

        <!-- Slick slider -->
        <script type="text/javascript" src="~/Scripts/slick.js"></script>
        <!-- Counter -->
        <script type="text/javascript" src="~/Scripts/waypoints.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.counterup.js"></script>
        <!-- Mixit slider -->
        <script type="text/javascript" src="~/Scripts/jquery.mixitup.js"></script>
        <!-- Add fancyBox -->
        <script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js"></script>
        <!-- AM CHARTS-->
        <script type="text/javascript" src="~/Scripts/AMcharts/core.js"></script>
        <script type="text/javascript" src="~/Scripts/AMcharts/charts.js"></script>
        <script type="text/javascript" src="~/Scripts/AMcharts/animated.js"></script>
        <script type="text/javascript" src="~/Scripts/AMcharts/kelly.js"></script>
        <!-- Custom js -->
        <script src="~/Scripts/choice.js"></script>
        <script src="~/Scripts/custom.js"></script>
        <script src="~/Scripts/index.js"></script>
        <script src="~/Scripts/jquery.scrollTo.js"></script>
        <script>
            // Code to get access to the page under a password
            if ("@Session["validated"]" == "") {
                validate();
            };        
        </script>
</body>
</html>